<div class="w-64 h-full bg-gray-900 text-white p-6 flex flex-col">
  <div class="mb-8">
    <h2 class="text-xl font-bold">Pegasus</h2>
  </div>

  <!-- Scrollable content area -->
  <div class="flex-grow overflow-y-auto capitalize">
    <ul>
      <li class="mb-4">
        <a href="/" class="block py-2 px-4 bg-gray-700 rounded">Home</a>
      </li>
      <li class="mb-4">
        <a href="{% url "new_task_list" %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Project detail</a>
      </li>
      <div class="">
        <h3 id="toggle-button" class="flex items-center justify-between px-4 py-2 hover:bg-gray-700 rounded cursor-pointer">
         
          <li class=""><a href="{% url "project_member_detail" %}" class="block py-1  hover:bg-gray-700 rounded">Project Members</a></li>

       
      </div>
      {% comment %} <li class="mb-4">
        <a href="{% url "task_graph" %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Project Duration</a>
      </li> {% endcomment %}
      {% comment %} <li class="mb-4">
        <a href="{% url "task_time" %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Completed Project</a>
      </li> {% endcomment %}
      <li class="mb-4">
        <a href="{% url "profile" %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Profile</a>
      </li>
      <li class="mb-4">
        <a href="{% url "calender" %}" class="block py-2 px-4 hover:bg-gray-700 rounded">Calendar</a>
      </li>
    </ul>
  </div>

  <!-- Logout button fixed at the bottom -->
  <div class="mt-auto">
    <button class="px-4 py-2 bg-red-500 rounded w-full">Logout</button>
  </div>
</div>