{% extends "base.html" %}
{% load static %}
{% block hero %}

    <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded mt-10">
        {% for Projects in Projects %}
        <h1 class="text-2xl font-bold mb-6 capitalize"> <strong>Projects Name :</strong> {{ Projects.name }}</h1>
        
        <!-- Check if the project description already exists -->
     
        
        <!-- Display the project details -->
        <div class="mb-6">
            <h2 class="text-2xl font-semibold ">Project Details</h2>
            <p><strong>Duration:</strong> {{ Projects.duration }} weeks</p>
            <p><strong>Description:</strong> {{ Projects.description }}</p>
        </div>
        
        <!-- Edit button -->

        {% endfor %}
        

        

{% endblock  %}
