{% extends "base.html" %}
{% block hero %}
<main class="flex-1 p-6 bg-gray-100">
    <h1 class="text-3xl font-bold mb-6">User Profile</h1>

    <div class="bg-white shadow-md rounded p-6">
        <h2 class="text-xl font-semibold mb-4">Profile Image</h2>
        <div class="mb-4">
            {% if form.instance.profile_image %}
                <img id="image-preview" src="{{ form.instance.profile_image.url }}" alt="Image Preview" class="w-32 h-32 mb-4 rounded-full border">
            {% endif %}
            <label for="id_profile_image" class="block text-gray-700">Upload Image:</label>
            {{ form.profile_image }}
        </div>

        <h2 class="text-xl font-semibold mb-4">Update Profile</h2>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-4">
                <label for="id_name" class="block text-gray-700">Name:</label>
                {{ form.name }}
            </div>

            <div class="mb-4">
                <label for="id_email" class="block text-gray-700">Email:</label>
                {{ form.email }}
            </div>

            <div class="mb-4">
                <label for="id_role" class="block text-gray-700">Role:</label>
                {{ form.role }}
            </div>

            

            <button type="submit" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Update Profile</button>
        </form>
    </div>
</main>
{% endblock %}

