{% extends "base.html" %}
{% load static %}

{% block hero %}

  <!-- Main content -->
  <main class="flex-1 p-6 bg-gray-100">
    <h1 class="text-3xl font-bold mb-6">User Profile</h1>

    <div class="bg-white shadow-md rounded p-6">

      <!-- Display the current profile information -->
      <h2 class="text-xl font-semibold mb-4">Profile Image</h2>

      <!-- Update Profile Section -->
      <h2 class="text-xl font-semibold mb-4">Update Profile</h2>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        {{form.as_p}}

       <div class ="flex gap-4">
        <button type="submit" class="mt-4 bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">Update Profile</button>
     
      
        <a href="{% url 'developer_personal_profile' id=form.instance.id %}" class="mt-4 bg-red-600 text-white py-2 px-4 rounded hover:bg-red-700">View Profile</a>
   
    
          </div>
         </form>
      
    </div>
  </main>
{% endblock hero %}
