{% extends "base.html" %}
{% load static %}

{% block hero %}
    <div class="flex-1 p-6">
        <h2 class="text-3xl font-bold mb-6">Team Members</h2>
       
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for profile in profiles %}
            <div class="bg-white shadow-md rounded-lg p-4">
                    <img src="{{ member.profile_image.url }}" alt="{{ member.role }}" class="mb-4 rounded-full mx-auto w-40 h-40">
                    <h3 class="text-xl font-semibold text-center">{{ member.get_role_display }}</h3>
                    <div class="mt-2">
                        <p class="flex mb-1"><strong class="w-48">Name:</strong> {{ profile.name }}</p>
                        <p class="flex mb-1"><strong class="w-48">Experience:</strong> {{ member.experience }} years</p>
                        <p class="flex mb-1"><strong class="w-48">Working Projects:</strong> {{ member.working_projects }}</p>
                        <p class="flex mb-1"><strong class="w-48">Email:</strong> {{ member.email }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock hero %}
